@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color:hsl(217, 54%, 11%) ;
    min-height: 100vh;
    display: flex;
}
.font-police{
    font-family: 'Outfit', sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.card{
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    height: 450px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-title{
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.card-title:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
p{
    font-size: 15px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
.author{
    color: white;
}
.card-middle{
    display: flex;
    justify-content:space-between
}
hr{
    color: hsl(215, 32%, 27%);
    width: 100%;
}
.card-test{
    display: flex;
    align-items: center;
    
}
svg{
    padding-right: 4px;
}

.time{
    color:hsl(215, 51%, 70%);
    font-weight: 300;
}
.price{
    color:hsl(178, 100%, 50%);
}
.card-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.image-author{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 5px;
}

.author:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.icon {
    color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
  }

  .container:hover .overlay {
    opacity: 0.3;
    cursor: pointer;
  }

.container {
    position: relative;
}
.card-image{
    border-radius: 15px;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;
    transition: .3s ease;
    background-color: hsl(178, 100%, 50%);
  }